* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3 , p, div, body, button {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Share Tech Mono";
  margin: 0;
  padding: 0;
  background: $blue;
  background: linear-gradient($blue--contrast, $blue) fixed;
  color: $white;
}

.btn {
  font-family: "Share Tech Mono";
  padding: .5rem 1rem;
  border-radius: 2px;
  text-transform: uppercase;
  font-size: 1rem;
  background: $gradient-blue;
  border: 0;
  cursor: pointer;
  color: $white;
  transition: all .25s ease-in;

  &:hover {
    transform: translateY(-1px);
    box-shadow: $box-shadow;
  }
}

.pygg {
  &__logo {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 100px;
    opacity: .3;

    &-antennas{
      stroke: $white;
    }

    circle {
      fill: $white;
    }

    &-trace{
      fill: $white;
    }

    &-triangles{
      stroke: $white;
    }
  }
}

@media only screen and (max-width: $mq-S)  {
  html {
    font-size: 90%;
  }
}

@media only screen and (max-width: $mq-XS)  {
  html {
    font-size: 80%;
  }
}
